element normal.normal {
    background-color: transparent;
    text-color:       @foreground; /* Of de matugen variabele */
}

element alternate.normal {
    background-color: transparent; /* Dit haalt die lichte balken weg! */
    text-color:       @foreground;
}

element selected.normal {
    background-color: @selected-active-background; /* De kleur van je actieve balk (zoals dolphin nu) */
    text-color:       @background; /* Zorgt voor goed contrast als je eroverheen hovert */
}
